<div class="latex-style-text">
    <blockquote>3 CO<sub>2</sub>-equivalent (i.e. CO<sub>2</sub>, N<sub>2</sub>O and CH<sub>4</sub>) emissions from the production of electricity from water, wind and solar energy, in Germany, including emissions from the production chain (Vorkette), averaged from the latest report from the German Federal Office for the Environment (Umweltsbundesamt).
    <br>Umweltsbundesamt (2023). Emissionsbilaz erneubarer Energieträger 2022. Available at: <a>http://www.umweltbundesamt.de/publikationen/emissionsbilanz-erneuerbarer-ener-gietraeger</a>.</blockquote>
</div>
