<div class="latex-style-text">
    <div class="citation">
        <blockquote>4 Research and allometric formula obtained with support from Prof. Ricardo H.S. Santos, PhD, Head of the Agriculture Department at the Universidade Federal de Viçosa, Brazil.</blockquote>
    </div>
    <div class="citation">
        <blockquote>5 Berg, E. C., Zarnoch, S. J., & McNab, W. H. (2019). Survivorship, attained diameter, height and volume of three Paulownia species after 9 years in the southern Appalachians, USA. J<i>Journal of Forestry Research</i>, 31(6), 2181<code>&#8212;</code>2191.<br><a>https://doi.org/10.1007/s11676-019-01021-9</a></blockquote>
    </div>
    <div class="citation">
        <blockquote>6 Magar, L. B., Khadka, S., Joshi, J. R. R., Pokharel, U., Rana, N., Thapa, P., et al. (2018).
        <br>Total biomass carbon sequestration ability under the changing climatic condition by
            Paulownia tomentosa Steud. <i>International Journal of Applied Sciences Biotechnol</i>. 6, 220<code>&#8212;</code>226. doi:10.3126/ijasbt.<br>
            v6i3.20772</blockquote>
    </div>
    <div class="citation">
        <blockquote>Szabó, Fruzsina, János Rásó, Tamás Ábri, Lajos Juhász, and Károly Rédei (2022). Volume of Paulownia Shan Tong (Paulownia Fortunei <sup>x</sup> Paulownia Tomentosa) Plantation in Eastern Hungary: A Case Study. <i>Acta Agraria Debreceniensis</i> 2, 43<code>&#8212;</code>46.<br><a>https://doi.org/10.34101/actaagrar/2/11336</a>.</blockquote>
    </div>

    <div class="citation">
        <blockquote>8 Magar, L. B., Shrestha, N., Khadka, S., Joshi, J. R., Acharya, J., Gyanwali, G. C., et al.
        (2016). Challenges and opportunity of in vitro propagation of Paulownia tomentosa
        Steud for commercial production in Nepal. <i>Int. J. Appl. Sci. Biotechnol</i>. 4, 155<code>&#8212;</code>160.
        doi:10.3126/ijasbt.v4i2.14752</blockquote>
    </div>
    <div class="citation">
        <blockquote>9 Olave, R., Forbes, G., Muñoz, F., and Lyons, G. (2015). Survival, early growth and chemical characteristics of Paulownia trees for potential biomass production in a cool
        temperate climate. <i>Ir. For.</i></blockquote>
    </div>
    <div class="citation">
        <blockquote>10 Avram, A., Aurel Lunguleasa, Cosmin Spirchez, & Constantin Stefan Ionescu. (2023). Differences and Similarities between the Wood of Three Low-Density and Homogenous Species: Linden, Balsa, and Paulownia. <i>Applied Sciences</i>, 13(18), 10209<code>&#8212;</code>10209.<br><a>https://doi.org/10.3390/app131810209</a></blockquote>
        </div>
