<div class="latex-style-text margin">
    <h1>Paulownia tomentosa</h1>
    <p><em>Empress tree</em> (German: Blauglockenbaum). <em>Paulownia</em> sp. has been dubbed “climate change tree” and researched as a carbon storage and carbon compensation option due to its fast growth. But a rolling plant gathers no mass: <em>Paulownia</em> has low density and a hollow core as it grows. At the same time, fast-growing forests demand a lot of water and nutrients fast. Carbon credits bail out the entire operation of a company, all its running computers and cloud-stored data, by referring it to entire forests that are cultivated or preserved. Yet planting a tree has become the archetypal gesture of the one human in face of climate and ecological change. The literal reality can't be felt; the only concrete experience is the metaphorical dimension at the unit of relatability:</p>

    <p><strong>Here are you, one server, and one tree.</strong></p>
</div>
